# Rough Notebook

### Decorators dataclass

In [5]:
from dataclasses import dataclass

In [6]:
@dataclass
class Employee:
    emp_name:str
    age:int

In [7]:
a = Employee("Babu",12)

In [8]:
a.emp_name

'Babu'

In [9]:
a.age

12

In [16]:
## without dataclass decorators

class Employee:

    def __init__(self, emp_name,age):
        self.emp_name = emp_name
        self.age = age

In [17]:
emp = Employee("Asdf",25)

In [18]:
emp.age

25

In [20]:
emp.emp_name

'Asdf'

#### Validation of the dataset

In [4]:
## scipy two sample test 

import numpy as np
from scipy import stats
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
stats.ks_2samp(sample1, sample2)

KstestResult(statistic=0.5363636363636364, pvalue=2.3423551125504076e-14, statistic_location=-0.03091401431867575, statistic_sign=-1)

In [5]:
response = stats.ks_2samp(sample1, sample2)

In [7]:
sample1

array([0.68633177, 0.70361322, 0.13278823, 0.29015789, 0.51853521,
       0.6962124 , 0.15164493, 0.3617531 , 0.97283874, 0.85743217,
       0.57781405, 0.46714398, 0.81242128, 0.23270663, 0.76416593,
       0.67517947, 0.30703366, 0.57246714, 0.11830048, 0.90956494,
       0.0647784 , 0.80749011, 0.12765758, 0.9648749 , 0.9030387 ,
       0.56754049, 0.05556402, 0.85891154, 0.94347921, 0.6635037 ,
       0.39384422, 0.67221995, 0.35531801, 0.9650045 , 0.75848991,
       0.95405031, 0.04783783, 0.44543901, 0.7758247 , 0.31189101,
       0.62335255, 0.49875064, 0.18953931, 0.39339595, 0.9537021 ,
       0.37631802, 0.85281734, 0.88697533, 0.51873852, 0.49859727,
       0.53033887, 0.20285821, 0.35481392, 0.83460927, 0.80574773,
       0.13917706, 0.93141193, 0.62410456, 0.39581696, 0.52359025,
       0.66388723, 0.04599571, 0.82786747, 0.37307525, 0.80912708,
       0.01390259, 0.88130363, 0.03827445, 0.84671398, 0.87606528,
       0.49035984, 0.24615358, 0.48799165, 0.47338476, 0.55945125,
       0.87025921, 0.6271402 , 0.22984435, 0.79202945, 0.81418767,
       0.57482146, 0.54010308, 0.68909091, 0.0035678 , 0.32501411,
       0.20239446, 0.66814181, 0.24348548, 0.49701562, 0.41558217,
       0.57623467, 0.03144561, 0.66673646, 0.62773719, 0.03750126,
       0.94580186, 0.07577474, 0.72118251, 0.20040067, 0.49429548])

In [8]:
sample2

array([ 0.22217429, -2.76565456, -2.19362458, -0.33319926, -0.52126525,
        0.66845921,  0.174307  , -0.56213611, -1.64366456,  0.5857108 ,
       -0.65471527, -0.31402931, -1.7168178 ,  0.12745011, -0.69795296,
        0.64583299, -1.13988095,  1.24656052,  0.18113274, -0.73913573,
        0.08303328, -0.41214629, -0.1243885 , -1.5463502 ,  0.51299208,
        0.83161308, -0.27741058,  0.08251558, -0.48827081,  0.77178433,
       -0.09310436,  0.40572914, -1.90615484,  0.15691326, -1.78809178,
        1.00646524,  0.46335775,  0.07208972, -0.8542301 ,  1.1016416 ,
       -0.44323201, -1.54234282, -0.07329968, -0.8273601 ,  0.22021712,
       -1.26737175, -0.66351197, -1.59841176,  2.13405192,  0.07930481,
       -1.05035115, -1.020334  , -0.31078643, -0.98758896, -1.81903959,
       -0.54355221, -0.34559579,  0.84958326, -0.50059314,  1.09427332,
       -0.16061009, -1.07654316,  2.41074474,  1.09496385,  1.35187847,
       -0.65136067,  1.61021324,  0.13097849,  0.96486535, -0.2187382 ,
        0.15295592,  1.7564032 ,  0.80120451,  2.2235447 , -1.54820922,
       -0.7133804 ,  0.93127397,  0.365131  , -2.05686252,  0.83687515,
       -0.03091401,  1.91828346,  0.69645151, -0.37684382,  0.02183942,
        1.69567142,  0.10560742,  0.66103314, -0.5874258 ,  0.51787544,
       -0.18720472, -0.18352777, -0.19655976, -0.594052  ,  0.80908667,
       -0.63167959, -0.56627937,  1.31626146,  1.12318839, -0.61846714,
        0.28556888, -0.69236802, -0.73051201,  1.76450638,  0.17220374,
        0.85707439, -0.23201195, -0.66853523, -0.44174951, -1.8325766 ])

In [6]:
response.pvalue

2.3423551125504076e-14

In [9]:
response

KstestResult(statistic=0.5363636363636364, pvalue=2.3423551125504076e-14, statistic_location=-0.03091401431867575, statistic_sign=-1)

In [14]:
np.round(response.pvalue,13)

0.0

In [15]:
## If p-value is greater than 0.05 then distributions are identical(Satisfies null hypothesis)
## If p-value is less than 0.05 then distributions are not identical(Alternate hypothesis)

## If p-value is less than 0.05, then we need to go for re-training our model

In [16]:
sample1 = stats.norm.rvs(size=105, random_state=rng)
sample2 = stats.norm.rvs(size=95, random_state=rng)
stats.ks_2samp(sample1, sample2)

KstestResult(statistic=0.1318295739348371, pvalue=0.31549027714281025, statistic_location=0.8603005273812508, statistic_sign=-1)

In [ ]:
## Anamoly in dataset

# 1. High Null value
# 2. Missing columns
# 3. Outlier
# 4. Categorical:
    ## Gender ---> Male, Female, Other


## If distribution/relation of input and target gets changed during EDA and after model build in reality 
# --> CONCEPT DRIFT

validation code for missing values drop

In [1]:
import pandas as pd
df = pd.read_csv("/config/workspace/artifact/03022023__122619/data_ingestion/dataset/train.csv")

In [2]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,4328,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,46022.0,22366.0,43402.0,30460.0,28844.0,13918.0,9172.0,0.0,0.0,0.0
1,neg,59518,NaN,1.890000e+03,1576.0,0.0,0.0,0.0,0.0,0.0,...,282584.0,123788.0,238756.0,261586.0,168116.0,139882.0,696942.0,354212.0,0.0,0.0
2,neg,22,0.0,2.800000e+01,20.0,0.0,0.0,0.0,0.0,0.0,...,138.0,68.0,368.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0
3,neg,60740,NaN,1.384000e+03,1294.0,0.0,0.0,0.0,0.0,0.0,...,309166.0,151218.0,324492.0,337954.0,312466.0,255336.0,631344.0,87252.0,0.0,0.0
4,neg,38886,NaN,2.130706e+09,502.0,0.0,0.0,0.0,0.0,0.0,...,320488.0,137704.0,263186.0,239868.0,163238.0,119468.0,284172.0,45734.0,0.0,0.0

In [7]:
import numpy as np
np.round(df.isnull().sum()/df.shape[0],2)

class     0.00
aa_000    0.00
ab_000    0.77
ac_000    0.06
ad_000    0.25
          ...
ee_007    0.01
ee_008    0.01
ee_009    0.01
ef_000    0.05
eg_000    0.05
Length: 171, dtype: float64

In [11]:
(df.isnull().sum()/df.shape[0]).values.__len__()

171

In [21]:
drop_column_names = []
for column_name, missing_percentage in zip((df.isnull().sum()/df.shape[0]).index ,(df.isnull().sum()/df.shape[0]).values):
    print(column_name, np.round(missing_percentage*100,2))
    if missing_percentage>0.30:
        drop_column_names.append(column_name)

class 0.0
aa_000 0.0
ab_000 77.05
ac_000 5.79
ad_000 25.4
ae_000 4.34
af_000 4.34
ag_000 1.05
ag_001 1.05
ag_002 1.05
ag_003 1.05
ag_004 1.05
ag_005 1.05
ag_006 1.05
ag_007 1.05
ag_008 1.05
ag_009 1.05
ah_000 1.08
ai_000 1.03
aj_000 1.03
ak_000 7.56
al_000 1.07
am_0 1.03
an_000 1.07
ao_000 0.94
ap_000 1.07
aq_000 0.94
ar_000 4.71
as_000 1.03
at_000 1.03
au_000 1.03
av_000 4.34
ax_000 4.34
ay_000 1.06
ay_001 1.06
ay_002 1.06
ay_003 1.06
ay_004 1.06
ay_005 1.06
ay_006 1.06
ay_007 1.06
ay_008 1.06
ay_009 1.06
az_000 1.06
az_001 1.06
az_002 1.06
az_003 1.06
az_004 1.06
az_005 1.06
az_006 1.06
az_007 1.06
az_008 1.06
az_009 1.06
ba_000 1.08
ba_001 1.08
ba_002 1.08
ba_003 1.08
ba_004 1.08
ba_005 1.08
ba_006 1.08
ba_007 1.08
ba_008 1.08
ba_009 1.08
bb_000 1.08
bc_000 4.72
bd_000 4.72
be_000 4.34
bf_000 4.34
bg_000 1.07
bh_000 1.07
bi_000 0.94
bj_000 0.94
bk_000 38.28
bl_000 45.14
bm_000 65.65
bn_000 72.96
bo_000 76.76
bp_000 79.03
bq_000 80.73
br_000 81.68
bs_000 1.19
bt_000 0.24
bu_000 1.13
bv_000 1.13
bx_000 5.22
by_000 0.76
bz_000 4.71
ca_000 7.49
cb_000 1.19
cc_000 5.22
cd_000 1.12
ce_000 4.34
cf_000 25.4
cg_000 25.4
ch_000 25.4
ci_000 0.56
cj_000 0.56
ck_000 0.56
cl_000 15.87
cm_000 16.44
cn_000 1.08
cn_001 1.08
cn_002 1.08
cn_003 1.08
cn_004 1.08
cn_005 1.08
cn_006 1.08
cn_007 1.08
cn_008 1.08
cn_009 1.08
co_000 25.4
cp_000 4.71
cq_000 1.13
cr_000 77.05
cs_000 1.05
cs_001 1.05
cs_002 1.05
cs_003 1.05
cs_004 1.05
cs_005 1.05
cs_006 1.05
cs_007 1.05
cs_008 1.05
cs_009 1.05
ct_000 23.55
cu_000 23.55
cv_000 23.55
cx_000 23.55
cy_000 23.55
cz_000 23.55
da_000 23.55
db_000 23.55
dc_000 23.55
dd_000 4.34
de_000 4.71
df_000 6.92
dg_000 6.92
dh_000 6.91
di_000 6.91
dj_000 6.91
dk_000 6.92
dl_000 6.91
dm_000 6.92
dn_000 1.13
do_000 4.72
dp_000 4.72
dq_000 4.72
dr_000 4.72
ds_000 4.72
dt_000 4.72
du_000 4.72
dv_000 4.72
dx_000 4.71
dy_000 4.71
dz_000 4.71
ea_000 4.71
eb_000 6.91
ec_00 17.06
ed_000 15.87
ee_000 1.06
ee_001 1.06
ee_002 1.06
ee_003 1.06
ee_004 1.06
ee_005 1.06
ee_006 1.06
ee_007 1.06
ee_008 1.06
ee_009 1.06
ef_000 4.71
eg_000 4.71

In [22]:
drop_column_names

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']

In [25]:
null_report = df.isna().sum()/df.shape[0]

In [27]:
null_report[null_report > 0.30]

ab_000    0.770532
bk_000    0.382816
bl_000    0.451420
bm_000    0.656498
bn_000    0.729634
bo_000    0.767584
bp_000    0.790280
bq_000    0.807303
br_000    0.816772
cr_000    0.770532
dtype: float64

In [28]:
null_report[null_report > 0.30].index

Index(['ab_000', 'bk_000', 'bl_000', 'bm_000', 'bn_000', 'bo_000', 'bp_000',
       'bq_000', 'br_000', 'cr_000'],
      dtype='object')

In [33]:
df.iloc[:,[0]].drop('class',axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[27141 rows x 0 columns]

In [34]:
len(df.iloc[:,[0]].drop('class',axis=1).columns)

0

In [18]:
## Example for zip:

l1 = [1,2,3,4]
l2 = [4,5,6,7]

for l1_val, l2_val in zip(l1,l2):
    print(l1_val, l2_val)

1 4
2 5
3 6
4 7